doctype html
html(lang="es")
  head
    title= "auto: "+path
    link(href="/auto.css", type="text/css", rel="stylesheet")
  body
    header
      span#esquina &equiv;
      span#upperDiv ac&aacute; va la info que se ve arriba
    .lateralDiv
      .info(title="loading", data-path=path, id="lateral1") L
    iframe.mainIframe(data-path=path, id="frame1")
    script(src="/auto.js")
      