doctype html
html(lang="es")
  head
    title= "auto: "+path
    link(href="/auto.css", type="text/css", rel="stylesheet")
  body
    header
      span#esquina &equiv;
      span#upperDiv 
        span#mtime.info
        span#originFileName.info
        span#opcion_originFileName(style="display:none")
          input#convertir(type='checkbox' checked=false)
          label(for="convertir") convertido
    .lateralDiv
      div(title="loading", data-path=path, id="lateral1") L
    iframe.mainIframe(data-path=path, id="frame1")
    script(src="/auto.js")
      