.lateralDiv{
    float:left; 
    width:20px;
}

.mainIframe{
    float:left;
}

header{
    height:25px;
}

#esquina{
    width:20px;
    background-color:#CCC;
    display:inline-block;
    text-align:center;
}

#upperDiv{
    margin-left:6px;
    /*  display:inline-block; */
    margin-bottom:3px;
}

.info{
    margin:2px;
    margin-left:2px;
    background-color:#DDD;
    border-left:  1px solid #EEE;
    border-top:   1px solid #EEE;
    border-right: 1px solid #CCC;
    border-bottom:1px solid #CCC;
    padding:2px;
}