doctype html
html(lang="es")
  head
    title= "auto: "+path
    link(href="/auto.css", type="text/css", rel="stylesheet")
  body
    .lateralDiv
      .info(title="loading", data-path=path, id="lateral1") L
    iframe.mainIframe(src="/loading.html", data-path=path, id="frame1")
    script(src="/auto.js")
      